html,
body{
    /* height: 100%; */
    font-family: 'Montserrat', sans-serif;
}
video{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}


   .main_img{       

        width: 100vw;
        min-height: 100%;
        object-fit: cover;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }
    h1{
        font-size: 50px;
        color: #fff;
        font-weight: 500;

        
    }
    h2{
        font-size: 35px;
        color: #fff;
        margin-top: 60px;
        font-weight: 500;
        padding: 15px;
        border: 2px dashed #fff;
    }
    .sub_title{
        font-size: 24px;
        color: #fff;
        margin-bottom: 50px;
        font-weight: 200;
        font-style: italic;
        text-decoration: underline;


    }
    
    .main_container{
        display: flex;
        justify-content: center
    }
    .list_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 30px;
    }
    .container{
        display: flex;
        justify-content: center;
       
    }
    .search{        
        padding: 12px 24px;
        background-color: #fff;
        font-size: 20px;
        line-height: 18px;
        color: black;
    }
    .list{
       
        color: #fff;
        font-size: 26px;
        line-height: 50px;
        font-weight: 200;       
    
    }
    li{
        background-color: rgba(101, 100, 100, 0.437);
        padding: 0.4em;
        margin: 0.5em;
    }
    .sub_list{
        color: #fff;
        font-size: 24px;
        font-weight: 600;
    }
    
