
   .main_img{
        /* background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
        background-position: center; */


        object-fit: cover;
        width: 100vw;
        height: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .container{
        display: flex;
        justify-content: center;
    }
    .search{
        padding: 12px 24px;
        background-color: #fff;
        font-size: 15px;
        line-height: 18px;
        color: black;
    }
    .list{
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
